  .accordion {
    width: 65% !important;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px; 
}

.accordion-item:last-child {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 15px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #e7e7e7;
}

.accordion-content {
    max-height: none;
    overflow: hidden; 
    transition: max-height 0.6s ease; 
    padding: 10px; 
    display: none; 
}

.accordion-item.active .accordion-content {
    display: block;
}

.accordion-header .arrow {
    transition: transform 0.6s ease;
}

.accordion-item.active .accordion-header .arrow {
    transform: rotate(0deg); 
}

@media (max-width: 600px) {
    .accordion-header {
        font-size: 14px;
        padding: 10px;
    }

    .accordion-content {
        padding: 10px;
    }
}

