<% layout("/layouts/boilerplate") %>

<div class="row mt-3"> 

    <div class="col-6 offset-3 text-center">
        <h2>Login to WanderLust</h2>
    <span class="directed-to-signup"> <p>Don't have an account? <a href="/signup" class="create-free-account"><b>Create a free account</b></a></p></span>
    </div>
    
    <div class="col-6 offset-3">

        <form action="/login" method = "POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                name="username" 
                id = "username"
                type="text" 
                class="form-control" required>
                <div class="invalid-feedback">Please enter your username!</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                name="password" 
                id = "password"
                type="password" 
                class="form-control" required>
                <div class="invalid-feedback">Please enter your password!</div>
            </div>

            <button class="btn btn-dark login-btn mb-4">Login</button>



        </form>


    </div>
</div>